body {
    background-color: #333;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#canvas {
    background: white;
    border-radius: 5px;
    margin-top: 250px;
}

#guess-field {
    width: 30px;
    height: 30px;
    font-size: 30px;
    margin-top: 10px;
}
